@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0.5px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;
    .icon {
      cursor: pointer;
    }
    .left {
      display: flex;
      align-items: center;
      padding: 15px;
      gap: 30px;
      span {
        font-weight: bold;
        font-size: 20px;
      }
      .search {
        display: flex;
        align-items: center;
        border: 1px solid themed("textColor");
        width: 500px;
        border-radius: 5px;
        gap: 10px;
        padding-left: 5px;
        outline: 0;
        padding: 4px;
        input {
          outline: none;
          border: none;
          width: 100%;
          background-color: themed("bg");
          color: themed("textColor");
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      padding: 15px;
      gap: 30px;
      .user {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-weight: bold;
        }
        .logout {
          position: absolute;
          background-color: themed("bgSoft");
          top: 30px;
          right: 0;
          padding: 10px;
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
@include tablet {
  .search {
    display: none !important;
  }
  .left {
    gap: 15px !important;
    a:first-child {
      display: none !important;
    }
  }
  .right {
    gap: 15px !important;
  }
  .right {
    .user {
      span {
        display: none !important;
      }
    }
  }
}
